venv/
env/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/
.env

#MLflow

mlruns/

#Model
models/*.pkl
models/*.joblib


#Raw data
data/raw/

# Processed Data (optional)
data/processed/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/